* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montseratt, sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: 'Montseratt';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Montseratt';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montseratt';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montseratt';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
